@model DiscountManagement.Models.ViewModels.DetailsProduct
@{
    ViewBag.Title = "Details";
}
<h2>@Model.SelectedProduct.ProductName</h2>
<nav>
    <ul>
        <li><a href="/Product/List">Go back to product list</a></li>
        <li><a href="/Product/Edit/@Model.SelectedProduct.ProductID">Update</a></li>
        <li><a style="color:#ab2020;" href="/Product/DeleteConfirm/@Model.SelectedProduct.ProductID">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div>
        <div>Price: @Model.SelectedProduct.Price</div>
        <div>URL: @Model.SelectedProduct.URL</div>
    </div>
    <div>
        <h4>@Model.SelectedProduct.ProductName is available on:</h4>
        @foreach (var store in Model.SellingStores)
        {
            <a href="/Store/Details/@store.StoreID">@store.StoreName</a><br />
        }
    </div>
</div>

